/*
--1 typografy 
*/


/* ******** generale component********* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
}
.continer{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}
.grid{
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
    align-items: center;
}
.grid--colons--2{
    grid-template-columns: repeat(2,1fr);
}
.grid--colons--3{
    grid-template-columns: repeat(3,1fr);
    
}
.grid--colons--4{
    grid-template-columns: repeat(4,1fr);
    
}
.heading-secondary,.heding-primary,.heading-tertiary{
    color: #333;
    font-weight: 700;
    letter-spacing: -0.5px;

}
.heding-primary{
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}
.heading-secondary{
 font-size: 4.4rem;
 line-height: 1.2;
 margin-bottom: 9.6rem;
}
.heading-tertiary{
    font-size: 3rem;
    margin-bottom: 3.2rem;
    line-height: 1.2;
}
.subheading{
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    color: #cf7117;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}
          
.btn,.btn:link,.btn:visited{
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;
    display: inline-block;
    /* transition: all 1s; */
    transition:  bac1s;
    border: none;
    color: inherit;
    cursor: pointer;

}
.btn-form{
    background-color:  #45260a;
    color:#fdf2e9;
    align-self: end;
   } 
.btn--full:link,.btn--full:visited{
    color: white;
    background-color: #e67e22 ;
}
.btn--full:hover,.btn--full:active{
    background-color: #cf7117 ;
}
.btn--outline:link,.btn--outline:visited{
    background-color: white;
    color: #555;  
}
.btn--outline:hover,.btn--outline:active{
    background-color:#fdf2e9;
    color: #555;
    box-shadow: inset 0 0 3px white;
}
.link:link,.link:visited{
    color: #e67e22;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
}
.link:hover,.link:active{
    color: #cf7117;
    /* border-bottom: none; */
    border-bottom: 1px solid transparent;
}
/* ********************* classs helper****************** */
.margin-right-sm{
    margin-right: 1.6rem;
}
.margin-bottom-dm{
    margin-bottom: 4.8rem;
}
.texte-center{
    text-align: center;
}
.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}